* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.caja_principal {
  background-color: #616164;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caja_contenido_pedidos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.caja_pedidos {
  background-color: #fe5722;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5px;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 4px;
}

.img_menu {
  width: 28px;
}

.img_campana {
  width: 23px;
}

.caja_direcciones {
  background-color: #c9f9e1;
  padding: 10px;
  padding-left: 18px;
  border-top: solid 1.5px #909090;

}
.caja_direcciones_km{
  background-color: #feebda;
 
}

.img_text_direccion {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 12px;
}
.img_text{
  margin-bottom: 0px;
}

.img_a {
  border-radius: 20px;
  background-color: #454545;
  padding: 2px;
  width: 19px;
  align-items: center;
}

.img_b {
  background-color: #e96c40;
  padding: 2px;
  width: 19px;
  border-radius: 20px;


}

.text_direccion {
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

.caja_img_texts{
  display: flex;
  align-items: center;
  gap: 10px;

}


.caja_texts{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.texts{
  font-family: Arial, Helvetica, sans-serif;
}
.text_Market_listo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.text_direccion_nombre {
  font-family: Arial, Helvetica, sans-serif;
}

.caja_pen_km {
  display: flex;
  justify-content: space-between;
  
  align-items: center;
}

.caja_pen_boton {
  display: flex;
  gap: 10px;
}

.text_pen {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bolder;
}

.boton_efectivo {
  border-radius: 20px;
  border: none;
  background-color: #ffcb80;
  width: 120px;
  height: 25px;
  font-size: 16px;
}

.caja_img_localizacion {
  display: flex;
  justify-content: end;
}

.img_localizacion {
  border-radius: 40px;
  border: solid white 1px;
  background-color: white;
  padding: 8px;
  width: 45px;
  margin-bottom: 10px;
}

.caja_boton_ocupado {
  background-color: #909090;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja_libre {
  background-color: white;
  width: 50%;
  height: 60%;
  align-items: center;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 2px;
  justify-content: end;
}

.boton_libre {
  width: 50%;
  height: 100%;
  background-color: #fe5722;
  border: none;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.caja_km{
  display: flex;
  justify-content: end;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}