*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.caja_contenidos{
  background-color: #faf8f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;
}
.caja_contenido_principal{
  flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
  background-color: #cecccc;
  border: 1px solid #ccc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: none;
  width: 100%;
}

.caja_img_mas {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 10px;
  padding-bottom: 10px;
}

.img_mas {
  border-radius: 40px;
  border: solid white 1px;
  background-color: white;
  padding: 10px;
}

.caja_direcciones {
  background-color: #ffffff;
  padding: 10px;
  padding-left: 18px;
}

.img_text_direccion {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 12px;
}

.img_a {
  border-radius: 20px;
  background-color: #454545;
  padding: 2px;
  width: 19px;
  align-items: center;
}

.img_b {
  background-color: #e96c40;
  padding: 2px;
  width: 19px;
  border-radius: 20px;
}
.text_direccion {
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}
.text_direccion_nombre {
  font-family: Arial, Helvetica, sans-serif;
}
.caja_pen_km {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.caja_pen_km {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}

.caja_pen_boton {
  display: flex;
  gap: 10px;
}

.text_pen {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bolder;
}

.boton_efectivo {
  border-radius: 20px;
  border: none;
  background-color: #ffcb80;
  width: 120px;
  height: 25px;
  font-size: 16px;
}