*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.caja_principal {
  background-color: #616164;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.caja_metodo_pago{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: solid white 1px;
  border-bottom: none;
  background-color: white;
}

.caja_text_metodo{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-top: 20px;
  margin-bottom: 15px;
}

.boton_confirmar_taxi {
  width: 90%;
  background-color: #ffcc81;
  display: flex;
  border: none;
  border-radius: 40px;
  margin: auto;
  margin-bottom: 10px;
}

.text_tipo_pago {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: black;
  font-size: 16px;
}

.caja_text_confirmar_img_visto {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.img_visto {
  position: absolute;
  right: 10px;
  border-radius: 40px;
  border: solid white 1px;
  background-color: white;
  width: 28px;
}