* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.caja_principal {
  background-color: #616164;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img_x {
  background-color: white;
  border-radius: 40px;
  width: 13%;
  padding: 8px;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
}

.caja_text_enviendo_ofreciendo{
display: flex;
flex-direction: column;
}

.text_enviando{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom:50px;
  
}

.ofreciendo_tarifa{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: solid white 1px;
  border-bottom: none;
  background-color: white;
}

.text_ofreciendo_tarifa{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 8px;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.caja_botones{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.caja_signo{
  display: flex;
  justify-content: center;
  border-radius: 20px;
  background-color: black;
  color: white;
  align-items: center;
  padding: 5px;
  width: 28%;

}
.img_menos{
  width: 20px;
}

.text_pen{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: bold;
}

.boton_aumentar {
  width: 90%;
  background-color: #fe5722;
  display: flex;
  border: none;
  border-radius: 40px;
  margin: auto;
  margin-bottom: 10px;

}

.text_aumentar{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: white;
  font-size: 18px;
}

.caja_texto_aumentar_img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}

.img_mas {
  position: absolute;
  right: 10px;
  border-radius: 40px;
  border: solid white 1px;
  background-color: white;
  width: 28px;
}

.munero{
  font-size: 18px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

